@charset "utf-8";

/*-----------------------------------------------------------------------------
  [Asesor Blue Theme] Screen Stylesheet

  version:   1.0
  date:      04/08/2010
  author:    [J. Quintana]
  email:[info@maismedia.com]
  website:[www.maismedia.com
-----------------------------------------------------------------------------*/
/* Import other stylesheets -------------------------------------------------*/
 @import url(reset.css);

/* Base ---------------------------------------------------------------------*/
.left {
  float:left
}

.right {
  float:right;
  min-height:410px
}

.clear {
  clear:both
}

/* Styles for layout --------------------------------------------------------*/
body {
  margin:0;
  padding:0;
  background:#dfdfdf;
  font-family:Arial, Helvetica, sans-serif;
}

#header {
  position:relative;
}

.btop {
  height:60px;
  background:url(images/border-top-bkg.gif) repeat-x 0 0;
}

.bann {
  height:370px;
  background:url(images/bann.jpg) no-repeat center center;
}

.subbann {
  background:#fff;
  height:70px;
  margin:0 auto;
  width:995px;
}

.subbann ul {
  padding:39px 0 0 50px;
  float:left;
  line-height:1.3;
}

.subbann ul li {
  color:#4D59AC;
  float:left;
  font-size:15px;
  margin:0 10px 0 0;
}

.subbann ul li a {
  color:#4d59ac;
  text-decoration:none;
  border-bottom:1px solid #DFDFDF;
}

.subbann ul li a:hover {
  text-decoration:none;
  color:#3F3E50;
  border:none;
}

.subbann ul span {
  color:#4D59AC;
  margin:0 0 0 5px;
}

.rebor {
  background:#fff;
  float:right;
  height:91px;
  right:0;
  top:409px;
  width:30%;
  z-index:0;
  position:absolute;
}

.search {
  float:right;
  margin:40px 10px 0;
  position:relative;
  z-index:1;
}

.navi {
  background:url(images/nav.gif) no-repeat 0 0;
  height:420px;
  top:30px;
  position:absolute;
  left:50%;
  width:995px;
  margin-left:-497px;
  z-index:2;
}

.logo img {
  float:left;
  margin:20px 0 0 20px;
}

/* Content -----------------------------------------------------------------*/
.contentp {
  background:#efefef url(images/bkg-content.gif) repeat-x 0 -20px;
  margin:10px auto;
  width:995px;
}

.subcontent {
  background:#fff url(images/bkg-bott.gif) no-repeat center bottom;
  margin:0 auto;
  min-height:130px;
  padding:0 0 10px 23px;
  width:930px;
}

.left h2 {
  color:#4D59AC;
  font-size:20px;
  padding:37px 0 13px;
}

p {
  font-size:14px;
  margin:9px 0 12px;
}

.node ul {
  font-size:14px;
}

.subcontent p.entrada {
  color:#62615D;
  font-size:13px;
  line-height:1.4;
  margin:0;
  width:370px;
  float:left;
  text-align:justify;
}

h3 {
  color:#4D59AC;
  font-size:17px;
  margin:15px 0 5px;
}

.testimonios {
  background:url(images/bkg-testimonios.jpg) no-repeat 0 0;
  float:right;
  height:147px;
  margin:-26px 0 0;
  width:225px;
}

blockquote p {
  background:url(images/endq.png) no-repeat 180px bottom;
  font-family:georgia;
  font-size:15px;
  font-style:italic;
  padding-left:30px;
  padding-right:30px;
}

blockquote em {
  display:block;
  font-size:11px;
  line-height:1.6;
  margin:10px 30px;
  font-family:georgia;
  font-style:italic;
}

blockquote a {
  color:#fff;
  text-decoration:none;
}

.colder {
  background:url(images/bkg-col-der.gif) no-repeat left 0;
  float:right;
  padding:20px 0 0 50px !important;
  padding:20px 0 0px 40px;
  width:210px;
  min-height:275px;
}

.block {
  margin:20px 0;
}

.block ul {
  margin:9px 0 12px;
  padding:0;
  line-height:1.2;
}

.colder h2.cont {
  background:url(images/sprite.gif) no-repeat -70px -33px;
  color:#4D59AC;
  font-size:16px;
  font-weight:normal;
  margin:22px 0 19px 0;
  padding:0 0 0 40px;
  line-height:1.2;
}

.colder h2.cont a {
  color:#4D59AC;
  text-decoration:none;
}

.colder p.t {
  margin:0 0 3px 0;
  color:#62615D;
  font-size:16px;
}

.colder p.t strong {
  color:#4d59ac;
  font-weight:normal;
}

ul.dir {
  color:#62615D;
  font-size:12px;
  line-height:1.2;
  margin:34px 0 0 0;
  padding:0;
}

ul.dir li strong {
  color:#4d59ac;
}

.bkgper {
  background:url(images/bkg-percent.jpg) no-repeat 0 0;
  height:86px;
  margin:46px 0 0 -25px;
  text-align:center;
  width:235px;
}

.subcontent .left {
  width:662px;
}

.lastn {
  margin:40px 0 0 0;
}

.lastn img {
  float:left;
  margin:0 30px 0 0;
}

.lastn a img {
  border:4px solid #fff;
}

.lastn a:hover img {
  border:4px solid #4d59ac;
}

.lastn a:active img {
  border:4px solid #4d59ac;
}

.lastn strong {
  color:#62615d;
  font-size:9px;
  display:block;
  font-weight:normal;
}

.lastn p {
  color:#62615d;
  font-size:11px;
  margin:0 0 0 170px;
  line-height:1.2;
  margin:0 0 28px 170px;
}

.lastn p a {
  color:#62615d;
  text-decoration:none;
}

.node li {
  margin:0 20px;
  list-style:disc outside none;
  line-height:1.2;
  color:#333;
}

/* Typography ------------------------------------------------------------------*/

h1 {
  color:#AEAFA9;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:24px;
  font-style:italic;
  font-weight:normal;
  line-height:1.2;
  padding:30px 50px 35px;
}

h1 a {
  color:#4d59ac;
  border-bottom:1px solid #AEAFA9;
  text-decoration:none;
}

h1 a:hover {
  color:#3f3e50;
  border:none;
}

h2.consulta {
  background:url(images/sprite.gif) no-repeat 0 -74px;
  color:#62615D;
  font-size:15px;
  font-weight:normal;
  margin:15px 0 0 0;
  padding:0 0 0 13px;
}

h2.consulta a {
  color:#62615D;
  text-decoration:none;
  border-bottom:1px solid #DFDFDF;
}

h2.consulta a:hover {
  color:#4D59AC;
  border:none;
}

h2.consulta:hover {
  background:url(images/sprite.gif) no-repeat 0 -87px;
}

p.contxt {
  color:#AEAFA9;
  font-size:11px;
  line-height:1.1;
  margin:5px 0 0 0;
  width:200px;
  text-align:justify;
}

.leermas {
  display:block;
  font-size:11px;
  font-weight:bold;
  margin:7px 0 0;
}

.leermas a {
  color:#4d59ac;
  text-decoration:none;
  border-bottom:1px solid #dfdfdf;
}

.leermas a:hover {
  color:#3f3e50;
  border:none;
}

.lastn h3 {
  font-size:12px;
  margin:0;
}

h3 a {
  color:#4d59ac;
  text-decoration:none;
}

blockquote {
  background:url(images/startq.png) no-repeat 14px top;
  line-height:1.2;
  margin:28px 0 0;
  padding:16px 0 0 6px;
  quotes:"" "";
}

a {
  color:#4D59AC;
}

a:active, a.active {
  color:#3F3E50;
}

.node p {
  margin:10px 0;
  line-height:1.3;
  color:#333;
}

.tefx {
  font-size:14px;
  margin:10px;
}

abbr {
  border-bottom:1px dotted;
  color:#999;
  font-size:12px;
  cursor:help;
}

/* Navigation ----------------------------------------------------------------*/
.lavaLamp {
  float:right;
  position:relative;
  width:589px;
  margin:16px 0 0;
}

.lavaLamp li {
  float:left;
  list-style:none;
}

.lavaLamp li.current a {
  color:#fff;
}

.lavaLamp a.active {
  color:#fff;
}

.lavaLamp li.back {
  border:4px solid #4D59AC;
  height:30px;
  position:absolute;
  width:9px;
  z-index:8;
}

.lavaLamp li a {
  font:bold 13px arial;
  text-decoration:none;
  color:#aeafa9;
  outline:none;
  text-align:center;
  top:11px;
  text-transform:uppercase;
  letter-spacing:0;
  z-index:10;
  display:block;
  float:left;
  height:30px;
  position:relative;
  overflow:hidden;
  margin:auto 13px!important;
  margin:auto 7px;
  left:4px;
}
.lavaLamp li a:hover {
  color:#fff;
}
.lavaLamp li a:hover, .lavaLamp li a:active, .lavaLamp li a:visited {
  border:none;
}

.donde {
  margin:388px 0 0 520px;
}

.donde ul li, .donde ul li a {
  color:#8692E0;
  float:left;
  font-size:11px;
  margin:0 7px 0 0;
  text-transform:uppercase;
  text-decoration:none;
}

.donde ul li span {
  margin:0 0 0 5px;
}

/* Forms ---------------------------------------------------------------------*/
.search label {
  display:none;
}

.form-item {
  margin-bottom:0;
  margin-top:0;
}

input.text {
  border:1px solid #C8C8C8;
  color:#62615D;
  font-size:11px;
  height:14px;
  padding:1px 17px 1px 6px;
  width:115px;
}

input.submit {
  background:url("images/sprite.gif") no-repeat scroll 0 4px transparent;
  border:0 none;
  cursor:pointer;
  height:18px;
  position:absolute;
  right:0;
  text-indent:-5555px;
  top:1px;
  vertical-align:middle;
  width:17px;
}

input.submit:hover {
  background:url(images/sprite.gif) no-repeat scroll 0 -15px;
}

* html .submit {
  font-size:0;
  display:block;
  line-height:0;
}

*+html .submit {
  font-size:0;
  display:block;
  line-height:0
}

/* Footer -----------------------------------------------------------------*/
.footer {
  background:#f2f2f2;
  margin:10px auto;
  height:80px;
  width:995px;
}

.menuf {
  float:left;
  margin:0 0 0 20px;
  padding:27px 0 0;
  width:700px;
}

.menuf ul {
  color:#62615d;
  font-size:9px;
  text-transform:uppercase;
  display:inline-block;
}

.menuf ul a {
  color:#62615d;
  text-decoration:none;
}

.menuf ul a:hover {
  color:#4c57a6;
  text-decoration:none;
}

.menuf ul li.bord {
  padding:2px 9px 2px 0;
}

.menuf ul li.nobkg {
  background:none;
}

.menuf ul li {
  float:left;
  padding:2px 10px 2px 7px;
  line-height:1.1;
  background:url(images/sprite.gif) no-repeat right -60px;
}

.menuf p {
  color:#aeafa9;
  font-size:10px;
  margin:10px 0;
}

.menuf p a {
  color:#aeafa9;
  border-bottom:1px solid #DFDFDF;
  text-decoration:none;
}

.menuf p a:hover {
  color:#4c57a6;
  border:none;
}

.newsform {
  float:right;
  margin:0 50px 0 0;
  padding:28px 0 0;
}

.newsform label {
  display:none;
}

.newsform p.tit-bol {
  color:#4d59ac;
  font-size:16px;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-style:italic;
  float:left;
  margin:4px 8px 0 0;
}

/* Drupal ------------------------------------------------------------------*/
hr {
  margin:0;
  padding:0;
  border:none;
  height:1px;
  background:#5294c1;
}

.form-item label {
  font-size:13px;
  margin:15px 0 0;
}

.breadcrumb {
  font-size:11px;
  margin:0 0 0 10px;
}

.breadcrumb a {
}

ul.menu, .item-list ul {
  margin:0.15em 0 0 -0.5em;
  padding:0;
}

ul.menu ul, .item-list ul ul {
  margin-left:0em;
}

.ul li.leaf a, ul li.expanded a, ul li.collapsed a {
  display:block;
}

ul.inline li {
  background:none;
  margin:0;
  padding:0 1em 0 0;
}

fieldset ul.clear-block li {
  margin:0;
  padding:0;
  background-image:none;
}

dl {
  margin:0.5em 0 1em 1.5em;
}

dl dt {
  margin:2px;
}

dl dd {
  margin:0 0 .5em 1.5em;
}

img, a img {
  border:none;
}

table {
  margin:1em 0;
  width:100%;
}

thead th {
  border-bottom:2px solid #d3e7f4;
  color:#494949;
  font-weight:bold;
}

th a:link, th a:visited {
  color:#6f9dbd;
}

td, th {
  padding:.3em .5em;
}

tr.even, tr.odd, tbody th {
  border:solid #d3e7f4;
  border-width:1px 0;
}

tr.odd, tr.info {
  background-color:#edf5fa;
}

tr.even {
  background-color:#fff;
}

tr.odd td.active {
  background-color:#ddecf5;
}

tr.even td.active {
  background-color:#e6f1f7;
}

td.region, td.module, td.container {
  border-top:1.5em solid #fff;
  border-bottom:1px solid #b4d7f0;
  background-color:#d4e7f3;
  color:#455067;
  font-weight:bold;
}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container {
  border-top-width:0;
}

span.form-required {
  color:#ffae00;
}

span.submitted, .description {
  font-size:0.92em;
  color:#898989;
}

.description {
  line-height:150%;
  margin-bottom:0.75em;
  color:#898989;
}

.messages, .preview {
  margin:.75em 0 .75em;
  padding:.5em 1em;
}

.messages ul {
  margin:0;
}

.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item {
  margin:0.25em 0;
}

#center form {
  margin-bottom:2em;
}

#watchdog-form-overview .form-submit, .confirmation .form-submit, .search-form .form-submit, .poll .form-submit, fieldset .form-button, fieldset .form-submit, .sidebar .form-button, .sidebar .form-submit, table .form-button, table .form-submit {
  margin:0;
}

.box {
  margin-bottom:2.5em;
}

/** * Primary navigation */
ul.primary-links {
  margin:0;
  padding:0;
  float:right;
  position:relative;
  z-index:4;
}

ul.primary-links li {
  margin:0;
  padding:0;
  float:left;
  background-image:none;
}

ul.primary-links li a, ul.primary-links li a:link, ul.primary-links li a:visited {
  display:block;
  margin:0 1em;
  padding:.75em 0 0;
  color:#fff;
  background:url(images/bg-navigation-item.png) no-repeat 50% 0;
}

ul.primary-links li a:hover, ul.primary-links li a.active {
  color:#fff;
  background:url(images/bg-navigation-item-hover.png) no-repeat 50% 0;
}

/** * Secondary navigation */
ul.secondary-links {
  margin:0;
  padding:18px 0 0;
  float:right;
  clear:right;
  position:relative;
  z-index:4;
}

ul.secondary-links li {
  margin:0;
  padding:0;
  float:left;
  background-image:none;
}

ul.secondary-links li a, ul.secondary-links li a:link, ul.secondary-links li a:visited {
  display:block;
  margin:0 1em;
  padding:.75em 0 0;
  color:#cde3f1;
  background:transparent;
}

ul.secondary-links li a:hover, ul.secondary-links li a.active {
  color:#cde3f1;
  background:transparent;
}

/** * Local tasks */
ul.primary, ul.primary li, ul.secondary, ul.secondary li {
  border:0;
  background:none;
  margin:0;
  padding:0;
}

#tabs-wrapper {
  border-bottom:1px solid #E9EFF3;
  margin:0 0 0 20px;
  padding:0 21px 0;
  position:relative;
  width:914px;
}

ul.primary {
  float:left;
}

ul.secondary {
  border-bottom:1px solid #E9EFF3;
  clear:both;
  display:table;
  margin:20px 0;
  padding:0 26px 10px;
  text-align:left;
}

h2.with-tabs {
  float:left;
  margin:0 2em 0 0;
  padding:0;
}

ul.primary li a, ul.primary li.active a, ul.primary li a:hover, ul.primary li a:visited, ul.secondary li a, ul.secondary li.active a, ul.secondary li a:hover, ul.secondary li a:visited {
  padding:2px 1em;
  margin:0 0 0 1px;
  height:auto;
  text-decoration:none;
  position:relative;
  top:-1px;
}

ul.primary li.active a, ul.primary li.active a:link, ul.primary li.active a:visited, ul.primary li a:hover, ul.secondary li.active a, ul.secondary li.active a:link, ul.secondary li.active a:visited, ul.secondary li a:hover {
}

ul.secondary li {
  border-right:1px solid #CCCCCC;
  display:inline-block;
  margin:7px 0 !important;
  padding:0 1em;
}

ul.primary li.active a, ul.secondary li.active a {
  font-weight:bold;
}

/** * Nodes & comments */
.node {
  padding:1.5em 0;
}

ul.links li, ul.inline li {
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:1em;
  background-image:none;
}

.node .links, .comment .links {
  text-align:left;
}

.terms ul.links li {
  margin-left:0;
  margin-right:0;
  padding-right:0;
  padding-left:1em;
}

.picture, .comment .submitted {
  float:right;
  clear:right;
  padding-left:1em;
}

.new {
  color:#ffae00;
  font-size:0.92em;
  font-weight:bold;
  float:right;
}

.terms {
  float:right;
}

.preview .node, .preview .comment, .sticky {
  margin:0;
  padding:0.5em 0;
  border:0;
  background:0;
}

.sticky {
  padding:1em;
  background-color:#fff;
  border:1px solid #e0e5fb;
  margin-bottom:2em;
}

#comments {
  position:relative;
  top:-1px;
  border-bottom:1px solid #e9eff3;
  margin:-1.5em -25px 0;
  padding:0 25px;
}

#comments h2.comments {
  margin:0 -25px;
  padding:.5em 25px;
  background:#fff url(images/gradient-inner.png) repeat-x 0 0;
}

.comment {
  margin:0 -25px;
  padding:1.5em 25px 1.5em;
  border-top:1px solid #e9eff3;
}

.indented {
  margin-left:25px;
}

.comment h3 a.active {
  color:#494949;
}

.node .content, .comment .content {
  margin:0.6em 0;
}

/** * Aggregator.module */
#aggregator {
  margin-top:1em;
}

#aggregator .feed-item-title {
  font-size:160%;
  line-height:130%;
}

#aggregator .feed-item {
  border-bottom:1px solid #e9eff3;
  margin:-1.5em -31px 1.75em;
  padding:1.5em 31px;
}

#aggregator .feed-item-categories {
  font-size:0.92em;
}

#aggregator .feed-item-meta {
  font-size:0.92em;
  color:#898989;
}

/** * Color.module */
#palette .form-item {
  border:1px solid #fff;
}

#palette .item-selected {
  background:#fff url(images/gradient-inner.png) repeat-x 0 0;
  border:1px solid #d9eaf5;
}

/** * Menu.module */
tr.odd td.menu-disabled {
  background-color:#edf5fa;
}

tr.even td.menu-disabled {
  background-color:#fff;
}

td.menu-disabled {
}

/** * Poll.module */
.poll .bar {
  background:#fff url(images/bg-bar-white.png) repeat-x 0 0;
  border:solid #f0f0f0;
  border-width:0 1px 1px;
}

.poll .bar .foreground {
  background:#71a7cc url(images/bg-bar.png) repeat-x 0 100%;
}

.poll .percent {
  font-size:.9em;
}

/** * Autocomplete. */
#autocomplete li {
  cursor:default;
  padding:2px;
  margin:0;
}

/** * Collapsible fieldsets */
fieldset {
  margin:1em 0;
  padding:1em;
  border:1px solid #DFDFDF;
}

fieldset legend {/* Fix disappearing legend in FFox */
  display:block;
  font-size:18px;
  padding:0 10px;
}

html.js fieldset.collapsed {
  background:transparent;
  padding-top:0;
  padding-bottom:.6em;
}

html.js fieldset.collapsible legend a {
  padding-left:2em;
  background:url(images/menu-expanded.gif) no-repeat 0% 50%;
}

html.js fieldset.collapsed legend a {
  background:url(images/menu-collapsed.gif) no-repeat 0% 50%;
}

/** * Syndication icons and block */
#block-node-0 h2 {
  float:left;
  padding-right:20px;
}

#block-node-0 img, .feed-icon {
  float:right;
  padding-top:4px;
}

#block-node-0 .content {
  clear:right;
}

/** * Login Block */
#user-login-form {
  text-align:center;
}

#user-login-form ul {
  text-align:left;
}

/** * Admin Styles */
div.admin-panel, div.admin-panel .description, div.admin-panel .body, div.admin, div.admin .left, div.admin .right, div.admin .expert-link, div.item-list, .menu {
  margin:0;
  padding:0;
}

div.admin .left {
  float:left;
  width:48%;
}

div.admin .right {
  float:right;
  width:48%;
}

div.admin-panel {
  background:url(images/gradient-inner.png) repeat-x 0 0;
  padding:1em 1em 1.5em;
}

div.admin-panel .description {
  margin-bottom:1.5em;
}

div.admin-panel dl {
  margin:0;
}

div.admin-panel dd {
  color:#898989;
  font-size:0.92em;
  line-height:1.3em;
  margin-top:-.2em;
  margin-bottom:.65em;
}

table.system-status-report th {
  border-color:#d3e7f4;
}

#autocomplete li.selected, tr.selected td, tr.selected td.active {
  background:#027ac6;
  color:#fff;
}

tr.selected td a:link, tr.selected td a:visited, tr.selected td a:active {
  color:#d3e7f4;
}

/** * CSS support */
span.clear {
  display:block;
  clear:both;
  height:1px;
  line-height:0px;
  font-size:0px;
  margin-bottom:-1px;
}

/******************************************************************* 
* Color Module:Don't touch * 
*******************************************************************/
/** * Generic elements. */
.messages {
  background-color:#fff;
  border:1px solid #b8d3e5;
}

.preview {
  background-color:#fcfce8;
  border:1px solid #e5e58f;
}

div.status {
  color:#3a3;
  border-color:#c7f2c8;
  margin:15px auto;
  width:500px;
}

div.error {
  color:#C52020;
  margin:15px auto;
  width:500px;
}

.form-item input.error, .form-item textarea.error {
  border:1px solid #c52020;
  color:#494949;
}

/** * Watchdog.module */
tr.watchdog-user {
  background-color:#fcf9e5;
}

tr.watchdog-user td.active {
  background-color:#fbf5cf;
}

tr.watchdog-content {
  background-color:#fefefe;
}

tr.watchdog-content td.active {
  background-color:#f5f5f5;
}

tr.watchdog-warning {
  background-color:#fdf5e6;
}

tr.watchdog-warning td.active {
  background-color:#fdf2de;
}

tr.watchdog-error {
  background-color:#fbe4e4;
}

tr.watchdog-error td.active {
  background-color:#fbdbdb;
}

tr.watchdog-page-not-found, tr.watchdog-access-denied {
  background:#d7ffd7;
}

tr.watchdog-page-not-found td.active, tr.watchdog-access-denied td.active {
  background:#c7eec7;
}

/** * Status report colors. */
table.system-status-report tr.error, table.system-status-report tr.error th {
  background-color:#fcc;
  border-color:#ebb;
  color:#200;
}

table.system-status-report tr.warning, table.system-status-report tr.warning th {
  background-color:#ffd;
  border-color:#eeb;
}

table.system-status-report tr.ok, table.system-status-report tr.ok th {
  background-color:#dfd;
  border-color:#beb;
}
